In [1]:
#"this is my Jupyter Notebook File"
#dependencies
import pandas as pd
import os
import csv
import numpy as np

In [2]:
#load files
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [3]:
students_csv = "Resources/students_complete.csv"
schools_csv = "Resources/schools_complete.csv"

In [4]:
students_df = pd.read_csv(students_csv)
schools_df = pd.read_csv(schools_csv)

In [5]:
#Set path for file Schools
csvpath = os.path.join("Resources", "schools_complete.csv")
csvpath 

print(csvpath) 

#Set path for file Students
csvpath = os.path.join("Resources", "students_complete.csv")
csvpath                      
                       
                      
print(csvpath)

Resources\schools_complete.csv
Resources\students_complete.csv

In [6]:
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [8]:
# Merge Tables 2 DF's together based on school they share

merge_df = pd.merge(schools_df, students_df, on="school_name")
merge_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [20]:
# Collecting the total schools, total studens, total budget 
Total_Schools_df = merge_df["school_name"].value_counts()
print (Total_Schools_df)
# len()
# Calculate the number of unique authors in the DataFrame
School_Count = len(schools_df["school_name"].unique())
School_Count

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

15

In [ ]:
#District Summary
#Create a high level snapshot (in table form) of the district's key metrics, including:

# Make Table
    #Total Schools - this should be a series
    #Total Students - this should be a series
    #Total Budget- this should be a series
    #Average Math Score- this should be a series
    #Average Reading Score	- this should be a series
    #% Passing Math (The percentage of students that passed math.)- this should be a series
    #% Passing Reading (The percentage of students that passed reading.)- this should be a series
    #% Overall Passing (The percentage of students that passed math **and** reading.)- this should be a series

In [ ]:
# School Summary
# Create an overview table that summarizes key metrics about each school, including:
#need to Join tables on school
    # School Name- this should be a series
    # School Type- this should be a series
    # Total Student - this should be a series
    # Total School Budget - this should be a series
    # Per Student Budget- this should be a series
    # Average Math Score- this should be a series
    # Average Reading Scores - this should be a series
    # % Passing Math (The percentage of students that passed math.)- this should be a series
    # % Passing Reading (The percentage of students that passed reading.)- this should be a series
    # % Overall Passing (The percentage of students that passed math **and** reading.)- this should be a series

In [ ]:
# Top Performing Schools (By % Overall Passing)
# Create a table that highlights the top 5 performing schools based on % Overall Passing. Include:
#need to Join tables on school
    # School Name- this should be a series
    # School Type- this should be a series
    # Total Students- this should be a series
    # Total School Budget- this should be a series
    # Per Student Budget- this should be a series
    # Average Math Score- this should be a series
    # Average Reading Score- this should be a series
    # % Passing Math (The percentage of students that passed math.)- this should be a series
    # % Passing Reading (The percentage of students that passed reading.)- this should be a series
    # % Overall Passing (The percentage of students that passed math **and** reading.)- this should be a series

In [ ]:
# Bottom Performing Schools (By % Overall Passing)
# Create a table that highlights the bottom 5 performing schools based on % Overall Passing
#need to Join tables on school
    # School Name- this should be a series
    # School Type- this should be a series
    # Total Students- this should be a series
    # Total School Budget- this should be a series
    # Per Student Budget- this should be a series
    # Average Math Score- this should be a series
    # Average Reading Score- this should be a series
    # % Passing Math (The percentage of students that passed math.)- this should be a series
    # % Passing Reading (The percentage of students that passed reading.)- this should be a series
    # % Overall Passing (The percentage of students that passed math **and** reading.)- this should be a series

In [ ]:
# Math Scores by Grade\*\*
# Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Need to create Bins
#Summay by School and Avg Math score
# School - this should be a series
# 9th - this should be a series
# 10th- this should be a series
# 11th- this should be a series
# 12th- this should be a series

In [ ]:
# Reading Scores by Grade
# Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Need to create Bins
#Summay by School and Avg Reading score
# School - this should be a series
# 9th - this should be a series
# 10th- this should be a series
# 11th- this should be a series
# 12th- this should be a series

In [ ]:
# Scores by School Spending
# Create a table that breaks down - this should be a series performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
#need to Join tables on School
# Summary by avg budget by student
    #School- this should be a series
    # avg budget by student - this should be a series
    # Average Math Score - this should be a series
    # Average Reading Score- this should be a series
    # % Passing Math (The percentage of students that passed math.)- this should be a series
    # % Passing Reading (The percentage of students that passed reading.)- this should be a series
    # % Overall Passing (The percentage of students that passed math **and** reading.)- this should be a series

In [ ]:
# Scores by School Size
# Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).
#need to Join tables on school
# Summary by avg students by school
    #School- this should be a series
    # school size - this should be a series
    # Average Math Score- this should be a series
    # Average Reading Score- this should be a series
    # % Passing Math (The percentage of students that passed math.)- this should be a series
    # % Passing Reading (The percentage of students that passed reading.)- this should be a series
    # % Overall Passing (The percentage of students that passed math **and** reading.)- this should be a series

In [ ]:
# Scores by School Type
# Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).
#need to Join tables on school
# Summary by avg students by school type
     #School- this should be a series
    # school type - this should be a series
    # Average Math Score- this should be a series
    # Average Reading Score- this should be a series
    # % Passing Math (The percentage of students that passed math.)- this should be a series
    # % Passing Reading (The percentage of students that passed reading.)- this should be a series
    # % Overall Passing (The percentage of students that passed math **and** reading.)- this should be a series